@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>Placeholder Title</title>
</head>
<body>
	<app-start>Loading...</app-start>

    <script type="text/javascript" src="~/app/common.js"></script>
    <script type="text/javascript" src="~/app/vendor.js"></script>
    <script type="text/javascript" src="~/app/app.js"></script>
</body>
</html>